
// Body
$body-bg: #f5f8fa;

// Reparo variables for Material CSS
$primary-color: #6F72FF !default;
$secondary-color: #6F72FF !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$input-border: $secondary-color !default;
$input-focus-color: $input-border !default;
$link-color: #ffffff !default;

// Cards
$card-padding: 36px;
$collapsible-border-color: #ddd !default;
$border-radius: 2px;
// Media queries
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;

//buttons
$button-height: auto !default;
$button-padding: 0.8rem 2rem !default;
$button-radius: 2px !default;
$button-large-height: $button-height !default;

